<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hbs intro</title>
</head>

<body>
    <h1>Hello {{packageName}}</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, aspernatur vitae tenetur velit nobis, quam labore minima
        debitis incidunt atque mollitia recusandae? Nemo, suscipit omnis quia quisquam dolorum provident numquam!</p>
    {{>footer}}

</html>